<?php

namespace Config;

class Config {
  # how many captures to show per page (pagination)
  const CAPTURES_PER_PAGE = 18;

  # base directory for sqlite database
  const DB_FILE = '{{ db_file }}';

  # see files in App/Lang directory for available translations
  const LANG = '{{ lang_setting }}';

  # use https://www.php.net/manual/en/timezones.php
  const TIMEZONE = '{{ timezone }}';

  # location of images
  const IMAGE_PATH = '{{ images_output }}';

  # location of thumbnails
  const THUMB_PATH = '{{ images_output }}/thumb';

  # whether to enable satvis visualization
  const ENABLE_SATVIS = '{{ enable_satvis|lower }}';

  # lat and lon coordinates of base station
  const BASE_STATION_LAT = '{{ latitude }}';
  const BASE_STATION_LON = '{{ longitude }}';
}

?>
