<?php

namespace Config;

class Config {
  # how many captures to show per page (pagination)
  const CAPTURES_PER_PAGE = 18;

  # base directory for sqlite database
  const DB_FILE = '{{ db_file }}';

  # see files in App/Lang directory for available translations
  const LANG = '{{ lang_setting }}';

  # configure the date output format for the pass list - note that this must follow
  # a format that conforms to https://www.php.net/manual/en/datetime.format.php
  const PASSES_DATE_FORMAT = '{{ web_passes_date_format }}';

  # configure time output format on captures web page - note this must follow
  # a format that conforms to https://www.php.net/manual/en/datetime.format.php
  const DATETIME_FORMAT = '{{ web_datetime_format }}';
  const DATE_FORMAT = '{{ web_passes_date_format }}';

  # use https://www.php.net/manual/en/timezones.php
  const TIMEZONE = '{{ system_timezone.stdout }}';

  # location of images
  const IMAGE_PATH = '{{ images_output }}';

  # location of thumbnails
  const THUMB_PATH = '{{ images_output }}/thumb';

  # whether to enable satvis visualization
  const ENABLE_SATVIS = '{{ enable_satvis|lower }}';

  # whether to enable coronal mass ejetion GIFs from nasa
  # warning: high data usage!
  const ENABLE_CORONAL_GIF = '{{ enable_coronal|lower }}';

  # whether to enable image video
  const ENABLE_ANIMATION = '{{ enable_animation|lower }}';
  const ANIMATION_VIDEO_FILE = '{{ noaa_animation_output }}';

  # lat and lon coordinates of base station
  const BASE_STATION_LAT = '{{ latitude }}';
  const BASE_STATION_LON = '{{ longitude }}';

  # how many captures to list on admin page for management
  const ADMIN_CAPTURES_PER_PAGE = 100;

  # which enhancements to display for day/night
  const NOAA_DAY_ENHANCEMENTS = '{{ noaa_daytime_enhancements }}';
  const NOAA_NIGHT_ENHANCEMENTS = '{{ noaa_nighttime_enhancements }}';
  const METEOR_DAY_ENHANCEMENTS = '{{ meteor_daytime_enhancements }}';
  const METEOR_NIGHT_ENHANCEMENTS = '{{ meteor_nighttime_enhancements }}';

  # admin endpoint auth
  const LOCK_ADMIN = '{{ lock_admin_page|lower }}';
  const ADMIN_USER = '{{ admin_username }}';
  const ADMIN_PASS = '{{ admin_password }}';
}

?>
