server {
  listen {{ web_port }};
  # Disabling IPv6 support
  #listen [::]:{{ web_port }};
  
  root {{ web_home }}/public/;
  index index.php index.html index.htm index.nginx-debian.html;
  autoindex on;

  server_name {{ web_server_name }};

  gzip on;
  gzip_vary on;
  gzip_min_length 1024;
  gzip_proxied expired no-cache no-store private auth;
  gzip_types text/plain text/css text/xml text/javascript application/x-javascript application/xml;
  gzip_disable "MSIE [1-6]\.";

  location ~ /images/(.*) {
    alias /srv/images/$1;
  }

  location ~ /videos/(.*) {
    alias /srv/videos/$1;
  }

  location /upload {
    client_max_body_size 1024M; # Set the maximum file size to 1 GB

    # Use alias to map the URL to /srv/audio
    alias /srv/audio/;

    # You can customize this line as per your requirements
    try_files $uri $uri/ =404;
  }

  location / {
    try_files $uri $uri/ /index.php;
  }

  location ~ \.php$ {
    include snippets/fastcgi-php.conf;
    fastcgi_pass unix:/var/run/php/php8.2-fpm.sock;
  }

  # Rewrite the old path yyyy/mm/dd/ to /images/
  rewrite "^/image/\d{4}/\d{2}/\d{2}/(.+)$" /images/$1 permanent;
}