{% extends "base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/assets/css/pass_list.css">
{% endblock %}

{% block pre_body %}
  {% if constant('Config\\Config::ENABLE_SATVIS') == 'true' %}
    <div id="satvis" class="d-none d-sm-block">
      <iframe name="satvis" src="https://satvis.space/?elements=Point,Label,Orbit%20track,Sensor%20cone&layers=OfflineHighres&gs={{ constant('Config\\Config::BASE_STATION_LAT') }},{{ constant('Config\\Config::BASE_STATION_LON') }}&tags=Weather"></iframe>
    </div>
  {% endif %}
{% endblock %}

{% block body %}
  <table class="table table-bordered table-sm table-striped" id="passes">
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col">{{ lang['satellite'] }}</th>
        <th scope="col">{{ lang['pass_start'] }}</th>
        <th scope="col">{{ lang['pass_end'] }}</th>
        <th scope="col">{{ lang['max_elev'] }}</th>
        <th scope="col" class="d-none d-sm-table-cell">{{ lang['pass_start_azimuth'] }}</th>
        <th scope="col" class="d-none d-sm-table-cell">{{ lang['travel_direction'] }}</th>
      </tr>
    </thead>
    <tbody>
      {% set now = 'now'|date('H:i:s') %}
      {% if pass.list|length <= 0 %}
        <tr>
          <td colspan="4" class="no-passes">0 {{ lang['passes'] }}</td>
        </tr>
      {% else %}
        {% for pass in pass.list %}
          {% set pass_start = pass.pass_start|date('H:i:s') %}
          {% set pass_end = pass.pass_end|date('H:i:s') %}

          <tr{% if pass.is_active == false or pass_end < now %} class="inactive"{% endif %}>
            <td{% if prev_pass_end >= pass.pass_start %} class="conflict"{% endif %}>
              {% if prev_pass_end >= pass.pass_start %}<i class="fa fa-exclamation-triangle conflict-icon" data-toggle="tooltip" data-placement="right" title="{{ lang['conflicting_pass'] }}"></i>{% endif %}
              {% if constant('Config\\Config::ENABLE_SATVIS') == 'true' %}
                <a href='https://satvis.space/?elements=Point,Label,Orbit%20track,Sensor%20cone&layers=OfflineHighres&tags=Weather&sat={{ pass.sat_name }}' target='satvis'>{{ pass.sat_name }}</a>
              {% else %}
                {{ pass.sat_name }}
              {% endif %}
            </td>
            <td class="text-center">{{ pass_start }}</td>
            <td class="text-center">{{ pass_end }}</td>
            <td class="text-center">{{ pass.max_elev }}&#176;</td>
            <td class="text-center d-none d-sm-table-cell">{% if pass.pass_start_azimuth != "" %}{{ pass.pass_start_azimuth }}&#176;{% endif %}</td>
            <td class="text-center d-none d-sm-table-cell">{% if pass.direction != "" %}{{ pass.direction }}{% endif %}</td>
          </tr>

          {% set prev_pass_end = pass.pass_end %}
        {% endfor %}
      {% endif %}
    </tbody>
  </table>

{% endblock %}

{% block js_includes %}
  <script src="/assets/js/tooltips.js"></script>
{% endblock %}
