{% extends "base.html" %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/assets/css/pass_list.css">
{% endblock %}

{% block pre_body %}
  <br><center><h1><strong>NOAA APT and Meteor LRPT Satellite Receiver</strong></h1></center><br>
  <div id="instruments" class="flex-container">
    {% if constant('Config\\Config::ENABLE_SATVIS') == 'true' %}
      <div id="satvis" class="d-none d-sm-block flex-child">
        <iframe name="satvis" src="https://satvis.space/?elements=Point,Label,SensorCone&layers=ArcGis&terrain=None&gs={{ constant('Config\\Config::BASE_STATION_LAT') }},{{ constant('Config\\Config::BASE_STATION_LON') }}&tags=Weather"></iframe>
      </div>
    {% endif %}

    {% if constant('Config\\Config::ENABLE_ANIMATION') == 'true' %}
      <div id="noaa-animation" class="d-none d-sm-block flex-child">
        <video playsinline autoplay muted loop controls src="{{ constant('Config\\Config::ANIMATION_VIDEO_FILE') }}" width="100%" height="100%" type="video/webm, codecs=vp9"></video>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block body %}
<center>
      <meta http-equiv="refresh" content="300" url="https://www.timeanddate.com/scripts/sunmap.php">
      <img src="https://www.timeanddate.com/scripts/sunmap.php?iso=&amp;earth=1" width="100%" height="100%">
      <meta img="sunmap.php" src-equiv="refresh" content="300">
    </center>
  <table class="table table-bordered table-sm table-striped" id="passes">
    <thead class="thead-dark">
      <tr class="text-center">
        <th scope="col">{{ lang['reception_status'] }}</th>
        <th scope="col">{{ lang['satellite'] }}</th>
        <th scope="col">{{ lang['pass_start'] }}</th>
        <th scope="col">{{ lang['pass_end'] }}</th>
        <th scope="col">{{ lang['max_elev'] }}</th>
        <th scope="col" class="d-none d-sm-table-cell">{{ lang['pass_start_azimuth'] }}</th>
        <th scope="col" class="d-none d-sm-table-cell">{{ lang['travel_direction'] }}</th>
      </tr>
    </thead>
    <tbody>
      {% set now_ms = 'now'|date('U') %}
      {% set cur_date = now_ms|date('m/d/y') %}
      {% set last_date = 0 %}

      {% if pass.list|length <= 0 %}
        <tr>
          <td colspan="7" class="no-passes">0 {{ lang['passes'] }}</td>
        </tr>
      {% else %}
        {% for pass in pass.list %}
          {% set pass_start = pass.pass_start|date('H:i:s') %}
          {% set pass_end = pass.pass_end|date('H:i:s') %}
          {% set cur_date = pass.pass_start|date('m/d/y') %}
          {% set pass_end_ms = pass.pass_end|date('U') %}

          {% if last_date < cur_date %}
            <tr class="date-separator">
              <td colspan="7">{{ cur_date|date(constant('Config\\Config::PASSES_DATE_FORMAT')) }}</td>
            </tr>
            {% set last_date = cur_date %}
          {% endif %}

          <tr{% if pass.is_active == false or pass_end_ms < now_ms %} class="inactive"{% endif %}>
          
            <td class=
              {% if prev_pass_end >= pass.pass_start %} 
                "text-center conflict"
              {% elseif now_ms > pass.pass_start and now_ms < pass.pass_end %} 
                "text-center running" 
              {% elseif now_ms < pass.pass_start %}
                "text-center next" 
              {% else %}
                "text-center no_capture"
              {% endif %}
                >
              {% if pass.id %}
                <i class="fa fa-check" data-toggle="tooltip" data-placement="right" title="{{ lang['completed_pass'] }}"></i>
              {% elseif now_ms > pass.pass_start and now_ms < pass.pass_end %}
                <i class="fa fa-spinner running-icon" data-toggle="tooltip" data-placement="right" title="{{ lang['running_pass'] }}"></i>
              {% elseif prev_pass_end >= pass.pass_start %}
                <i class="fa fa-exclamation-triangle conflict-icon" data-toggle="tooltip" data-placement="right" title="{{ lang['conflicting_pass'] }}"></i>
              {% elseif now_ms < pass.pass_start %}
                <i class="fa fa-hourglass-start next-icon" data-toggle="tooltip" data-placement="right" title="{{ lang['next_pass'] }}"></i>
              {% else %}  
                <i class="fa fa-times no_caption-icon" data-toggle="tooltip" data-placement="right" title="{{ lang['no_capture_pass'] }}"></i>
              {% endif %}
            </td>
            <td>
              {% if constant('Config\\Config::ENABLE_SATVIS') == 'true' %}
                <a href='https://satvis.space/?elements=Point,Label,SensorCone&layers=ArcGis&terrain=None&tags=Weather&sat={{ pass.sat_name }}&gs={{ constant('Config\\Config::BASE_STATION_LAT') }},{{ constant('Config\\Config::BASE_STATION_LON') }}' target='satvis'>{{ pass.sat_name }}</a>
              {% else %}
                {{ pass.sat_name }}
              {% endif %}
            </td>
            <td class="text-center">{{ pass_start }}</td>
            <td class="text-center">{{ pass_end }}</td>
            <td class="text-center">
              {{ pass.max_elev }}&#176;
              {% if pass.azimuth_at_max != "" %}
                {% if pass.azimuth_at_max >= 0 and pass.azimuth_at_max <= 180 %}E{% else %}W{% endif %}
              {% endif %}
            </td>
            <td class="text-center d-none d-sm-table-cell">{% if pass.pass_start_azimuth != "" %}{{ pass.pass_start_azimuth }}&#176;{% endif %}</td>
            <td class="text-center d-none d-sm-table-cell">{% if pass.direction != "" %}{{ pass.direction }}{% endif %}</td>
          </tr>

          {% set prev_pass_end = pass.pass_end %}
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
  {% if constant('Config\\Config::ENABLE_CORONAL_GIF') == 'true' %}
  <br>
  <center>
  <h1>Coronal Mass Ejection Activity</h1>
  <br>
  <img src="https://sohowww.nascom.nasa.gov/data/LATEST/current_c2.gif" height=300 style="margin-right=2em; margin-bottom:2em;">
  <img src="https://sohowww.nascom.nasa.gov/data/LATEST/current_c3.gif" height=300 style="margin-right=2em; margin-bottom:2em;">
  <img src="https://stereo.gsfc.nasa.gov/beacon/latest_512/ahead_cor2_latest.jpg" height=300 style="margin-right=2em; margin-bottom:2em;">
  </center>
  {% endif %}

{% endblock %}

{% block js_includes %}
  <script src="/assets/js/tooltips.js"></script>
{% endblock %}
