envbash==1.2.0
# The following packages should ideally be installed through apt
# For the moment, I am pinning their versions here to the ones available in debian bullseye
ephem==3.7.7.1
idna==2.8
jsonschema==3.2.0
matplotlib==3.3.4
numpy==1.18.1
Pillow==7.1.2
pylab==0.0.1
pyyaml==5.4.1
requests==2.27.0
urllib3==1.26.3
facebook-sdk==3.1.0
pysqlite3==0.5.1
