---
- name: install dependencies
  become: yes
  apt:
    update_cache: yes
    state: present
    name:
      - at
      - bc
      - cmake
      - gnuradio
      - gr-osmosdr
      - imagemagick
      - libatlas-base-dev
      - libjpeg9
      - libjpeg9-dev
      - libncurses5-dev
      - libncursesw5-dev
      - libusb-1.0-0
      - libusb-1.0-0-dev
      - libxft-dev
      - libxft2
      - predict
      - python3-pip
      - python-setuptools
      - socat
      - sox
      - sqlite3

- name: install mpack and msmtp if emailing is enabled
  become: yes
  apt:
    update_cache: no
    state: present
    name:
      - mpack
      - msmtp
      - msmtp-mta
  when: enable_email_push | bool

- name: install dependencies (stretch only)
  become: yes
  apt:
    update_cache: no
    state: present
    name: libgfortran-5-dev
  when: raspbian_version.stdout == 'stretch'

- name: install dependencies (non-stretch)
  become: yes
  apt:
    update_cache: no
    state: present
    name: libgfortran5
  when: raspbian_version.stdout != 'stretch'
...
