NOAA_HOME={{ noaa_home }}
DB_FILE={{ db_file }}
WEB_HOME={{ web_home }}
IMAGE_OUTPUT={{ images_output }}
NOAA_AUDIO_OUTPUT={{ audio_output }}/noaa
METEOR_AUDIO_OUTPUT={{ audio_output }}/meteor
RAMFS_AUDIO={{ ramfs_path }}
NOAA_LOG={{ log_file }}
LAT={{ latitude }}
LON={{ longitude }}
SCHEDULE_NOAA={{ schedule_noaa|lower }}
SCHEDULE_METEOR={{ schedule_meteor|lower }}
SAT_MIN_ELEV={{ sat_min_elevation }}
SUN_MIN_ELEV={{ sun_min_elevation }}
DELETE_AUDIO={{ delete_audio|lower }}
BIAS_TEE="{% if enable_bias_tee|lower == 'true' %}-T{% endif %}"
SDR_DEVICE_ID={{ sdr_device_id }}
FLIP_METEOR_IMG={{ flip_meteor_image|lower }}
GAIN={{ receiver_gain }}
TZ_OFFSET={{ timezone_offset }}
LOG_LEVEL={{ log_level }}
NOAA_MAP_CROSSHAIR_ENABLE={{ noaa_map_crosshair_enable|lower }}
NOAA_MAP_CROSSHAIR_COLOR={{ noaa_map_crosshair_color }}
NOAA_MAP_GRID_DEGREES={{ noaa_map_grid_degrees }}
NOAA_MAP_GRID_COLOR={{ noaa_map_grid_color }}
PRODUCE_SPECTROGRAM={{ produce_spectrogram|lower }}
PRUNE_OLDER_THAN={{ delete_older_than_n }}
PRUNE_OLDEST={{ delete_oldest_n }}
