---
# base station configurations
#   latitude: south values are negative
#   longitude: west values are negative
latitude: 40.712776
longitude: -74.005974

# time zone offset from UTC (for example, '-5' for US Eastern)
timezone_offset: -5

# ntp configurations
#   ntp_server - if you have a local server (e.g. stratum1), you can use this setting
#        to specify a hostname or ip address to communicate with the ntp server
ntp_server: ''

# receiver settings
#   meteor_receiver - which receiver method to use (either 'rtl_fm' or 'gnuradio')
#     **WARNING**: 'gnuradio' does not work with certain SDR devices (e.g. it will not currently
#                  work with a RTL-SDR v3 dongle, as no image will be decoded from the bitstream)
#   sdr_device_id - which SDR device to use (use rtl_eeprom to see available devices)
#   enable_bias_tee - driving power to LNA, for example
#   receiver_gain - receiver gain - if gain = 0 it will enable autogain on SDRs that support the feature.
#   receiver_freq_offset - receiver frequency offset (PPM)
meteor_receiver: 'rtl_fm'
sdr_device_id: 0
enable_bias_tee: false
receiver_gain: 50
receiver_freq_offset: -6

# whether to schedule specific orbiting objects for capture
#   noaa_15_schedule - whether to schedule NOAA 15 captures
#   noaa_18_schedule - whether to schedule NOAA 18 captures
#   noaa_19_schedule - whether to schedule NOAA 19 captures
#   meteor_m2_schedule - whether to schedule Meteor-M 2 captures
noaa_15_schedule: true
noaa_18_schedule: true
noaa_19_schedule: true
meteor_m2_schedule: true

# whether audio files should be deleted after images are created
delete_audio: false

# processing settings
#   flip_meteor_image - whether the meteor image should be flipped
#   produce_spectrogram - whether to produce a spectrogram image of the audio recording
#   noaa_crop_telemetry - whether to crop the left/right telemetry in image captures
#   image_annotation_location - where to place the annotation in images - valid options are:
#        NorthWest, North, NorthEast, West, Center, East, SouthWest, South, SouthEast
#   produce_noaa_pristine_image - whether to produce a pristine image (unmodified) for larger
#        composite-based use cases
#   ground_station_location - free-form text for indicating ground station location in image
#        annotation (leave blank if you wish to exclude the ground station annotation)
#   show_sun_elevation - whether to show sun elevation in annotation
#   show_pass_direction - show which direction the satellite is moving in the image annotation
#   noaa_daytime_enhancements - list of enhancements to create images using during daytime captures
#        (note: default value is total list of supported image processors)
#   noaa_nighttime_enhancements - list of enhancements to create images using during nighttime captures
#        (note: default value is total list of supported image processors)
flip_meteor_image: true
produce_spectrogram: true
noaa_crop_telemetry: false
image_annotation_location: 'NorthWest'
produce_noaa_pristine_image: false
ground_station_location: ''
show_sun_elevation: true
show_pass_direction: true
noaa_daytime_enhancements: 'ZA MCIR MCIR-precip MSA MSA-precip HVC-precip HVCT-precip HVC HVCT therm'
noaa_nighttime_enhancements: 'ZA MCIR MCIR-precip therm'

# thresholds for scheduling captures - enables avoiding an attempt
# to capture imagery if objects are lower than these degree elevation thresholds
sat_min_elevation: 30
sun_min_elevation: 10

# noaa map configurations
# http://usradioguy.com/wp-content/uploads/2020/05/wxtoimgcommand-line.pdf
#
# note - colors are in format 0xRRGGBB (only applicable when the
#        feature is enabled), where:
#   RR: Red hex value
#   GG: Green hex value
#   BB: Blue hex value
# Colors can alternatively be specified as one of the following:
#   black, white, gray, light-gray, dark-gray, red, pink dark-red,
#   light-red, # green, light-green, dark-green, black-green, blue,
#   light-blue, dark-blue, black-blue, yellow, light-yellow, dark-yellow,
#   magenta, light-magenta, dark-magenta, cyan, light-cyan, dark-cyan,
#   orange, dark-orange, purple, lavender, violet, navy, turquoise,
#   aquamarine, chartreuse, gold, beige, tan, brown, and maroon
#
#   noaa_map_crosshair_enable - whether to place a crosshairs on the base station location
#   noaa_map_crosshair_color - color of base station crosshair
#   noaa_map_grid_degrees - latitude/longitude lines drawn every grid degrees (default 10.0, 0.0 to disable)
#   noaa_map_grid_color - color of gridlines for latitude/longitude
#   noaa_map_country_border_enable - whether to enable country borders in images
#   noaa_map_country_border_color - color of country borders
#   noaa_map_state_border_enable - whether to enable state borders in images (Americas only)
#   noaa_map_state_border_color - color of state borders (Americas only)
noaa_map_crosshair_enable: false
noaa_map_crosshair_color: "0xffff00"
noaa_map_grid_degrees: 10.0
noaa_map_grid_color: "0xff0000"
noaa_map_country_border_enable: true
noaa_map_country_border_color: "0xffff00"
noaa_map_state_border_enable: true
noaa_map_state_border_color: "0xffff00"

# locale settings for timezone and language
#   timezone: see https://www.php.net/manual/en/timezones.php
#   lang_setting: see the 'webpanel/App/Lang' folder for available
#                 languages (2-letter filename - e.g. ar, bg, de, en, es, nl, sr)
timezone: America/New_York
lang_setting: en

# web server configuration settings
#   web_server_name - server name to use for the TLS certs and web endpoint - this MUST be
#                     resolvable to the IP of this host (if you don't have DNS, simply use
#                     the IP of the Raspberry Pi host)
#   enable_non_tls - whether to enable a clear-text web listener (default port 80)
#   web_port - port to run the web server clear-text (non-encrypted) endpoint on
#   enable_tls - whether to enable the TLS-encrypted web listener (default port 443)
#   web_tls_port - port to run the TLS listener on
#   cert_valid_days - number of days the TLS certificates should be valid for - note that
#                     you will need to re-install the certificates once this timeline expires
#   lock_admin_page - whether to require username/password when attempting to access the admin page
#                     of the webpanel - WARNING: DO NOT SET THIS TO TRUE UNLESS YOU ONLY HAVE A TLS
#                     ENABLED SITE - SETTING TO TRUE AND RUNNING A CLEARTEXT SITE IS ALMOST CERTAINLY
#                     ASKING FOR YOUR CREDENTIALS TO BE STOLEN MID-REQUEST
#   admin_username - username used to access the 'admin' endpoint of the webpanel (WARNING: see 'lock_admin_page' above)
#   admin_password - password used to access the 'admin' endpoint of the webpanel (WARNING: see 'lock_admin_page' above)
#                    NOTE: MAKE SURE YOU SET THIS TO SOMETHING REASONABLY COMPLICATED!
web_server_name: raspberry-noaa.localdomain
enable_non_tls: false
web_port: 80
enable_tls: true
web_tls_port: 443
cert_valid_days: 365
lock_admin_page: false
admin_username: 'admin'
admin_password: 'admin'

# log level for output from scripts
log_level: DEBUG

# whether to enable the satvis visualization for satellite tracking
# in the passes view - note that this iframe-driven visualization is
# by default disabled on "extra-small" devices such as phones due to
# the processing and space requirements
enable_satvis: true

# pruning capabilities - must be configured in cron (see documentation)
#   delete_oldest_n - how many oldest captures to delete on each run
#   delete_older_than_n - delete all images older than this many days
delete_oldest_n: 0
delete_older_than_n: 0

# operating system configurations
#   disable_wifi_power_mgmt - if running wireless internet and you want to
#       disable "sleep" mode of your wifi device (assuming it's wlan0), set
#       this to true (note: updating this requires a reboot)
disable_wifi_power_mgmt: false

# push processing settings for sending images elsewhere
#   * NOTE: Make sure you set up your ~/.msmtprc file before enabling email push!
#   enable_email_push - whether to send all images to an external email
#   email_push_address - if enabled, address to send all images to
#   enable_email_schedule_push - whether to email an image of the nightly-created
#       pass-list schedule to the email destination
#   enable_discord_push - whether to push images to a Discord channel
#   discord_webhook_url - webhook url for the Discord channel
enable_email_push: false
email_push_address: test@ifttt.com
enable_email_schedule_push: false
enable_discord_push: false
discord_webhook_url: ''
...
