latitude: {{ latitude }}
longitude: {{ longitude }}
timezone_offset: {{ timezone_offset }}
enable_bias_tee: {{ enable_bias_tee }}
schedule_iss: {{ schedule_iss }}
delete_audio: {{ delete_audio }}
sat_min_elevation: {{ sat_min_elevation }}
meteor_min_elevation: {{ meteor_min_elevation }}
sun_min_elevation: {{ sun_min_elevation }}
