body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 20px auto;
    max-width: 800px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#passes {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

#passes.img-grid {
    max-width: 700px;
}

#passes td,
#passes th {
    border: 1px solid #ddd;
    padding: 8px;
}

#passes tr:nth-child(even) {
    background-color: #f2f2f2;
}


/* #passes tr:hover {background-color: #ddd;} */

#passes th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    text-align: center;
    color: white;
}

#passes tr.inactive {
    color: lightgray;
}

#satimg {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

#satimgdiv {
    width: 100%;
    height: 100%;
    max-width: 200px;
    background-color: antiquewhite;
    /* margin: 10px; */
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

footer {
    /* position: absolute; */
    margin: 20px;
    bottom: 0;
    max-width: 100%;
    text-align: center;
}

img.img-footer {
    max-width: 100%;
}
