<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Raspberry NOAA</title>
  <style>
    body {
      font-family: Georgia, serif;
    }

    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
    }
  </style>
</head>

<body>
  <h1>WX reception server</h1>
  <ul>
    <li><a href="image">Images</a></li>
    <li><a href="meteor">Meteor files</a></li>
  </ul>
  <footer>
    <a href="https://github.com/reynico/raspberry-noaa"><img src="logo-small.png" /></a>
  </footer>
</body>

</html>
