server {
	listen 80 default_server;
	root /var/www/wx;
	index index.php index.html index.htm index.nginx-debian.html;
	autoindex on;

	server_name wx.home;

	location / {
		try_files $uri $uri/ =404;
	}

	location ~ \.php$ {
		include snippets/fastcgi-php.conf;
		fastcgi_pass unix:/var/run/php/php7.2-fpm.sock;
	}

	# Rewrite the old path yyyy/mm/dd/ to /images/
	rewrite "^/image/\d{4}/\d{2}/\d{2}/(.+)$" /images/$1 permanent;
}
